---
import App from "../../../App.astro";
import { Section, Image, Icon, H1, H2, H3, H4 } from "ui";
---

<App title="Главная">
  <main>
    <!-- Intro -->
    <Section name="intro">
      <div class="breadcrumb">
        <ol class="breadcrumb-list">
          <li>
            <a href="/"><span>Баш</span></a>
          </li>
          <li>
            <a href="#"><span>Күнегүләр</span></a>
          </li>
          <li class="active">
            <a href="#" class="disabled">
              <span>5 - 6 яшь</span>
            </a>
          </li>
        </ol>
      </div>

      <div class="page page-1">
        <H1>5 - 6 яшь</H1>

        <div class="sections">
          <div class="sections__item">
            <div class="sections__item-title">Иҗтимагый-коммуникатив үсеш</div>
          </div>
          <div class="sections__item">
            <div class="sections__item-title">Танып белү үсеше</div>
            <div class="list">
              <a href="#" href="#" class="list-item">
                <Image src="page-1/38.png" />
                <span>Туган җирем</span>
              </a>
              <a href="#" href="#" class="list-item">
                <Image src="page-1/31.png" />
                <span>Казан-Башкалам</span>
              </a>
              <a href="#" href="#" class="list-item">
                <Image src="page-1/36.png" />
                <span>Татарстанның символикасы</span>
              </a>
              <a href="#" class="list-item">
                <Image src="page-1/33.png" />
                <span>Метро станцияләре</span>
              </a>
              <a href="/exercises/logics/high-and-low" class="list-item">
                <Image src="page-1/1.png" />
                <span>Югары <br /> һәм түбән</span>
              </a>
              <a href="/exercises/logics/extra-row" class="list-item">
                <Image src="page-1/3.png" />
                <span>Өстәмә <br /> рәт</span>
              </a>
              <a href="/exercises/logics/losses" class="list-item">
                <Image src="page-1/4.png" />
                <span>Югалтулар</span>
              </a>
              <a href="/exercises/logics/hard-and-soft" class="list-item">
                <Image src="page-1/2.png" />
                <span>Каты <br /> һәм йомшак</span>
              </a>
            </div>
          </div>

          <div class="sections__item">
            <div class="sections__item-title">Сөйләм үсеше</div>
            <div class="list">
              <a href="#" class="list-item">
                <Image src="page-1/28.png" />
                <span>Әкиятне сөйлә</span>
              </a>
              <a href="#" class="list-item">
                <Image src="page-1/30.png" />
                <span>Кызыклы сыйфатлар</span>
              </a>
              <a href="/exercises/grammar/choose-a-letter" class="list-item">
                <Image src="page-1/9.png" />
                <span>Авазны сайла</span>
              </a>
              <a href="/exercises/grammar/alphabet" class="list-item">
                <Image src="page-1/7.png" />
                <span>Әлифба</span>
              </a>
            </div>
          </div>

          <div class="sections__item">
            <div class="sections__item-title">Сәнгати-эстетик үсеш</div>
            <div class="list">
              <a href="#" class="list-item">
                <Image src="page-1/23.png" />
                <span>Рәсемне <br />буяу</span>
              </a>
              <a href="#" class="list-item">
                <Image src="page-1/35.png" />
                <span>Татар милли киемнәр</span>
              </a>
              <a href="#" class="list-item">
                <Image src="page-1/29.png" />
                <span>Халык музыкасы</span>
              </a>
              <a href="#" class="list-item">
                <Image src="page-1/32.png" />
                <span>Күңелле биюләр</span>
              </a>
              <a href="#" class="list-item">
                <Image src="page-1/22.png" />
                <span>Төсләрне <br /> өйрәнәбез</span>
              </a>
              <a href="#" class="list-item">
                <Image src="page-1/24.png" />
                <span>Төсле һәм <br /> кара-ак</span>
              </a>
            </div>
          </div>

          <div class="sections__item">
            <div class="sections__item-title">Физик үсеш</div>
            <div class="list">
              <a href="#" class="list-item">
                <Image src="page-1/37.png" />
                <span>Тәннең төзелеше</span>
              </a>
              <a href="#" class="list-item">
                <Image src="page-1/34.png" />
                <span>Спорт биналары</span>
              </a>
              <a href="#" class="list-item">
                <Image src="page-1/39.png" />
                <span>Яңгыравыклы туп</span>
              </a>
            </div>
          </div>
        </div>

        <H2>Өстәмә биремнәр</H2>
        <div class="sections">
          <div class="sections__other">
            <div class="sections__item-title">Санарга өйрәнәбез</div>
            <div class="list">
              <a href="#" class="list-item">
                <Image src="page-1/11.png" />
                <span
                >Хайваннарны
                  <br /> саныйбыз</span
                >
              </a>
              <a href="#" class="list-item">
                <Image src="page-1/12.png" />
                <span>Күңелле <br />исәп</span>
              </a>
              <a href="#" class="list-item">
                <Image src="page-1/13.png" />
                <span>Предметларны <br /> саныйбыз</span>
              </a>
              <a href="#" class="list-item">
                <Image src="page-1/14.png" />
                <span>1 - 3 саннарын <br />өйрәнәбез</span>
              </a>
              <a href="#" class="list-item">
                <Image src="page-1/15.png" />
                <span
                >5 кадәр <br />
                  саныйбыз
                </span>
              </a>
            </div>
          </div>
          <div class="sections__other">
            <div class="sections__item-title">Логопедик биремнәр</div>
            <div class="list">
              <a href="#" class="list-item">
                <Image src="page-1/25.png" />
                <span
                >Иҗекләрне <br />
                  кабатла - <br />

                  “C” авазы</span
                >
              </a>
              <a href="#" class="list-item">
                <Image src="page-1/26.png" />
                <span
                >Бармагың <br />
                  белән үткәр - <br />
                  “З” авазы</span
                >
              </a>
              <a href="#" class="list-item">
                <Image src="page-1/27.png" />
                <span>
                  Фонематик <br />
                  ишетү - <br />
                  “Р” авазы
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </Section>
  </main>
</App>
