---
import { Image } from "ui";
import Exercice from "../../../components/TheExercise.astro";
---

<Exercice
        page={2}
        title="Тәннең төзелеше"
        subtitle="Тәннең төзелеше һәм гәүдәнең физик мөмкинлекләре турында сөйлә."
>
    <div class="body_image">
        <div style="top: 130px; left: 160px" class="spot">
            <div class="tooltip-text">
                Баш
            </div>
        </div>
        <div style="top: 150px; left: 422px" class="spot">
            <div class="tooltip-text">
                Баш
            </div>
        </div>
        <div style="top: 340px; left: 60px" class="spot">
            <div class="tooltip-text">
                Кул
            </div>
        </div>
        <div style="top: 340px; left: 255px" class="spot">
            <div class="tooltip-text">
                Кул
            </div>
        </div>
        <div style="top: 360px; left: 330px" class="spot">
            <div class="tooltip-text">
                Кул
            </div>
        </div>
        <div style="top: 360px; left: 520px" class="spot">
            <div class="tooltip-text">
                Кул
            </div>
        </div>
        <div style="top: 325px; left: 160px" class="spot">
            <div class="tooltip-text">
                Тере
            </div>
        </div>
        <div style="top: 345px; left: 420px" class="spot">
            <div class="tooltip-text">
                Тере
            </div>
        </div>
        <div style="top: 520px; left: 120px" class="spot">
            <div class="tooltip-text">
                Аяк
            </div>
        </div>
        <div style="top: 520px; left: 190px" class="spot">
            <div class="tooltip-text">
                Аяк
            </div>
        </div>
        <div style="top: 520px; left: 390px" class="spot">
            <div class="tooltip-text">
                Аяк
            </div>
        </div>
        <div style="top: 520px; left: 455px" class="spot">
            <div class="tooltip-text">
                Аяк
            </div>
        </div>
        <Image src="body.png"/>
    </div>
</Exercice>
