---
import { Image } from "ui";
import Exercice from "../../../components/TheExercise.astro";
---

<Exercice
  page={2}
  title="Тәннең төзелеше"
  subtitle="Тәннең төзелеше һәм гәүдәнең физик мөмкинлекләре турында сөйлә."
  nextUrl="/exercises/physic/sport"
>
  <div class="body_image">
    <div style="top: 130px; left: 160px" class="spot">
      <div class="tooltip-text">Баш</div>
    </div>
    <div style="top: 60px; left: 140px" class="spot">
        <div class="tooltip-text">Чәч</div>
      </div>
    <div style="top: 150px; left: 422px" class="spot">
      <div class="tooltip-text">Баш</div>
    </div>
    <div style="top: 90px; left: 400px" class="spot">
        <div class="tooltip-text">Чәч</div>
      </div>
    <div style="top: 340px; left: 60px" class="spot">
      <div class="tooltip-text">Кул</div>
    </div>
    <div style="top: 340px; left: 255px" class="spot">
      <div class="tooltip-text">Кул</div>
    </div>
    <div style="top: 360px; left: 330px" class="spot">
      <div class="tooltip-text">Кул</div>
    </div>
    <div style="top: 360px; left: 520px" class="spot">
      <div class="tooltip-text">Кул</div>
    </div>
    <div style="top: 325px; left: 160px" class="spot">
      <div class="tooltip-text">Гәүдә</div>
    </div>
    <div style="top: 345px; left: 420px" class="spot">
      <div class="tooltip-text">Гәүдә</div>
    </div>
    <div style="top: 520px; left: 120px" class="spot">
      <div class="tooltip-text">Аяк</div>
    </div>
    <div style="top: 520px; left: 190px" class="spot">
      <div class="tooltip-text">Аяк</div>
    </div>
    <div style="top: 440px; left: 120px" class="spot">
        <div class="tooltip-text">Тез</div>
      </div>
      <div style="top: 440px; left: 190px" class="spot">
        <div class="tooltip-text">Тез</div>
      </div>
    <div style="top: 520px; left: 390px" class="spot">
      <div class="tooltip-text">Аяк</div>
    </div>
    <div style="top: 520px; left: 455px" class="spot">
      <div class="tooltip-text">Аяк</div>
    </div>
    <div style="top: 450px; left: 390px" class="spot">
        <div class="tooltip-text">Тез</div>
      </div>
      <div style="top: 450px; left: 455px" class="spot">
        <div class="tooltip-text">Тез</div>
      </div>
    <Image src="body.png" />
  </div>

  <span>
    Искәрмә: киләчәктә гәүдәнең бер өлешенә күрсәткәндә, аның бу өлеше тавыш
    белән аталачак. <br />
    <br />
    Примечание: В будущем при наведении на часть тела будет называться эта часть
    тела (голосовое сопровождение)
  </span>
</Exercice>
