---
import App from "../../App.astro";
import { Section, Image, Icon, H1, H2, H3, H4 } from "ui";
---

<App title="Главная">
  <main>
    <!-- Intro -->
    <Section name="intro">
      <div class="breadcrumb">
        <ol class="breadcrumb-list">
          <li>
            <a href="/"><span>Баш</span></a>
          </li>
          <li>
            <a href="#"><span>Күнегүләр</span></a>
          </li>
          <li class="active">
            <a href="#" class="disabled">
              <span>5 - 6 яшь</span>
            </a>
          </li>
        </ol>
      </div>

      <div class="page page-1">
        <H1>5 - 6 яшь</H1>

        <div class="sections">
          <div class="sections__item">
            <div class="sections__item-title">Логика</div>
            <div class="list">
              <div class="list-item">
                <Image src="page-1/1.png" />
                <span>Югары <br /> һәм түбән</span>
              </div>
              <div class="list-item">
                <Image src="page-1/2.png" />
                <span>Каты <br /> һәм йомшак</span>
              </div>
              <div class="list-item">
                <Image src="page-1/1.png" />
                <span>Өстәмә <br /> рәт</span>
              </div>
              <div class="list-item">
                <Image src="page-1/1.png" />
                <span>Югалтулар</span>
              </div>
              <div class="list-item">
                <Image src="page-1/1.png" />
                <span
                  >Салкын <br />
                  Һәм кайнар
                </span>
              </div>
              <div class="list-item">
                <Image src="page-1/1.png" />
                <span>Рәсемне җый</span>
              </div>
            </div>
          </div>

          <div class="sections__item">
            <div class="sections__item-title">Уку Һәм грамота</div>
            <div class="list">
              <div class="list-item">
                <Image src="page-1/1.png" />
                <span>лифба ә </span>
              </div>
              <div class="list-item">
                <Image src="page-1/1.png" />
                <span
                  >Cөйләм <br />
                  сафлыгы</span
                >
              </div>
              <div class="list-item">
                <Image src="page-1/1.png" />
                <span>Хәрефне сайла </span>
              </div>
              <div class="list-item">
                <Image src="page-1/1.png" />
                <span
                  >Хәрефләр
                  <br />
                  белән эш</span
                >
              </div>
            </div>
          </div>

          <div class="sections__item">
            <div class="sections__item-title">Санарга өйрәнәбез</div>
            <div class="list">
              <div class="list-item">
                <Image src="page-1/1.png" />
                <span
                  >Хайваннарны
                  <br /> саныйбыз</span
                >
              </div>
              <div class="list-item">
                <Image src="page-1/1.png" />
                <span>Күңелле <br />исәп</span>
              </div>
              <div class="list-item">
                <Image src="page-1/1.png" />
                <span>Предметларны <br /> саныйбыз</span>
              </div>
              <div class="list-item">
                <Image src="page-1/1.png" />
                <span>1 - 3 саннарын <br />өйрәнәбез</span>
              </div>
              <div class="list-item">
                <Image src="page-1/1.png" />
                <span
                  >5 кадәр <br />
                  саныйбыз
                </span>
              </div>
            </div>
          </div>

          <div class="sections__item">
            <div class="sections__item-title">Игътибар һәм хәтер</div>
            <div class="list">
              <div class="list-item">
                <Image src="page-1/1.png" />
                <span>Күләгәне <br /> тап</span>
              </div>
              <div class="list-item">
                <Image src="page-1/1.png" />
                <span>Парны <br /> тап</span>
              </div>
              <div class="list-item">
                <Image src="page-1/1.png" />
                <span
                  >Бала һәм
                  <br /> әни</span
                >
              </div>
              <div class="list-item">
                <Image src="page-1/1.png" />
                <span>Нәрсә <br /> авыррак?</span>
              </div>
              <div class="list-item">
                <Image src="page-1/1.png" />
                <span
                  >Нәрсә
                  <br />
                  артык?
                </span>
              </div>
              <div class="list-item">
                <Image src="page-1/1.png" />
                <span>Бертөрле <br /> предметлар</span>
              </div>
            </div>
          </div>

          <div class="sections__item">
            <div class="sections__item-title">Төсләр</div>
            <div class="list">
              <div class="list-item">
                <Image src="page-1/1.png" />
                <span>Төсләрне <br /> өйрәнәбез</span>
              </div>
              <div class="list-item">
                <Image src="page-1/1.png" />
                <span>Рәсемне <br />буяу</span>
              </div>
              <div class="list-item">
                <Image src="page-1/1.png" />
                <span>Төсле һәм <br /> кара-ак</span>
              </div>
            </div>
          </div>

          <div class="sections__item">
            <div class="sections__item-title">Логопедик биремнәр</div>
            <div class="list">
              <div class="list-item">
                <Image src="page-1/1.png" />
                <span
                  >Иҗекләрне <br />
                  кабатла - <br />

                  “C” авазы</span
                >
              </div>
              <div class="list-item">
                <Image src="page-1/1.png" />
                <span
                  >Бармагың <br />
                  белән үткәр - <br />
                  “З” авазы</span
                >
              </div>
              <div class="list-item">
                <Image src="page-1/1.png" />
                <span>
                  Фонематик <br />
                  ишетү - <br />
                  “Р” авазы
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </Section>
  </main>
</App>
