---
import { Section, Image } from "ui";
import App from "../../App.astro";
import DonutChart from "@/components/TheDonutChart.astro";

const sidebarList = [
  { id: 0, title: "Күнегүләр", path: "/balance/teachers/exercises" },
  { id: 1, title: "Категорияләр", path: "/balance/teachers/categories" },
];
---

<App title="Хисаплар">
  <main>
    <Section name="balance">
      <div class="breadcrumb">
        <ol class="breadcrumb-list">
          <li>
            <a href="/"><span>Баш</span></a>
          </li>
          <li class="active">
            <a href="#"><span>Хисаплар</span></a>
          </li>
        </ol>
      </div>
      <div class="page page-2">
        <div class="balance__header">
          <div class="balance__image">
            <Image src="page-2/chart.webp" />
          </div>
          <div class="balance__title">
            Тәрбияченен категорияләр буенча хисабы
          </div>
        </div>
        <div class="balance__layout">
          <div class="balance__sidebar">
            <div class="balance__sidebar-title">Хисаплар</div>
            <ul class="balance__sidebar-list">
              {
                sidebarList.map((item) => {
                  if (item.id == 1) {
                    return (
                      <li class="balance__sidebar-item">
                        <a
                          href={item.path}
                          class="balance__sidebar-link active"
                        >
                          {item.title}
                        </a>
                      </li>
                    );
                  } else {
                    return (
                      <li class="balance__sidebar-item">
                        <a href={item.path} class="balance__sidebar-link">
                          {item.title}
                        </a>
                      </li>
                    );
                  }
                })
              }
            </ul>
          </div>
          <div>
            <label for="date-start">Датадан:</label>
            <input id="date-start" type="date" value="2024-06-27" />
            <label for="date-end">Дата буенча:</label>
            <input id="date-end" type="date" value="2024-07-04" />
            <DonutChart />
          </div>
        </div>
      </div>
    </Section>
  </main>
</App>
