---
import { Section, Accordion, Image, Icon, H1, H2, H3, H4 } from "ui";
import Exercice from "../../../components/TheExercise.astro";
---

<Exercice
  page={2}
  title="Каты һәм йомшак"
  subtitle="Бу әйберләрнең кайсысы каты?"
>
  <ul class="list">
    <li>
      <Image src="page-2/4.png" />
    </li>
    <li>
      <Image src="page-2/5.png" />
    </li>
    <li>
      <Image src="page-2/6.png" />
    </li>
  </ul>
</Exercice>
