---
import { Section, Accordion, Image, Icon, H1, H2, H3, H4 } from "ui";
import Exercice from "../../../components/TheExercise.astro";
---

<Exercice page={2} title="Югалтулар" subtitle="Рәсемдә нинди өлеш җитми?">
  <div class="losses"></div>
</Exercice>
