---
import { Section, Accordion, Image, Icon, H1, H2, H3, H4 } from "ui";
import Exercice from "../../../components/TheExercise.astro";
---

<Exercice
  page={3}
  title="Әлифба"
  subtitle='"A" хәрефеннән башланган сүзне сайла'
>
  <div class="alphabet">
    <ul>
      <li>
        <div class="box">
          <Image src="page-3/1.png" />
        </div>
        <span>
          <span style="color:rgb(249, 157, 0);">А</span>лма
        </span>
      </li>
      <li>
        <div class="box">
          <Image src="page-3/2.png" />
        </div>
        <span>
          <span style="color:rgb(60, 160, 227)">к</span>итап
        </span>
      </li>
    </ul>
  </div>
</Exercice>
