---
import { Section, Accordion, Image, Icon, H1, H2, H3, H4 } from "ui";
import Exercice from "../../../components/TheExercise.astro";
---

<Exercice
  page={3}
  title="Хәрефне сайла"
  subtitle='"Агач" сүзе башланган хәрефне сайла'
>
  <div class="choose-letter">
    <div class="tree">
      <Image src="page-3/tree.png" />
      <span>агач</span>
    </div>

    <ul>
      <li>А</li>
      <li>У</li>
    </ul>
  </div>
</Exercice>
