---
import { Section, Accordion, Image, Icon, H1, H2, H3, H4 } from "ui";
import Exercice from "../../../components/TheExercise.astro";
---

<Exercice
  page={3}
  title='Сөйләм сафлыгы'
  subtitle="Сүзнең авазларын дөрес урнаштыр"
>
  <div class="purity-of-speech">
    <ul>
      <li>
        <div class="box box--filled"></div>
        <span>Т</span>
        <div class="box"></div>
      </li>
      <li>
        <div class="box box--filled"></div>
        <span>у</span>
        <div class="box"></div>
      </li>
      <li>
        <div class="box box--filled"></div>
        <span>п</span>
        <div class="box"></div>
      </li>
    </ul>
  </div>
</Exercice>
