---
import { Section, Accordion, Image, Icon, H1, H2, H3, H4 } from "ui";
import Exercice from "../../../components/TheExercise.astro";
---

<Exercice
  page={2}
  title="Төсләрне өйрәнәбез"
  subtitle="Нинди сурәттә кызгылт сары төстәге предмет бар?"
>
  <ul class="list">
    <li class="highAndLow">
      <Image src="page-2/10.jpg" />
    </li>
    <li class="highAndLow">
      <Image src="page-2/11.png" />
    </li>
    <li class="highAndLow">
      <Image src="page-2/12.png" />
    </li>
  </ul>
</Exercice>