---
import { Image } from "ui";
import Exercice from "../../../components/TheExercise.astro";
---

<Exercice
  page={2}
  title="Рәсемне буяу"
  subtitle="Песине буя"
  nextUrl="/exercises/artistic/dressed"
>
  <Image src="page-2/cat.png" />

  <span>
    Искәрмә: Киләчәктә монда рәсемнәрне буяу мөмкинлеге тормышка ашырылачак
    <br />
    Примечание: В будущем здесь будет реализована возможность разукрашивать рисунки
  </span>
</Exercice>
