---
import App from "../App.astro";
import { Section, Image, Icon, H1, H2, H3, H4} from "ui";
---

<App title="Главная">
  <main>
    <!-- Intro -->
    <Section name="intro">
      <H1>Hello world</H1>
    </Section>
  </main>
</App>
