---
import App from "../App.astro";
import { Section, Image, Icon, H1, H2, H3, H4 } from "ui";
---

<App title="Главная">
  <Fragment slot="header">
    <div class="start">
      <div class="start__text">
        <Image class="start__img" src="start.png" />
        <div class="start__box">
          Сәлам! Мин Батыр! <br />
          Бу балалар бакчасы өчен укыту системасы! <br />
          Белемнәрне бергәләп шатланып, уйнап алыйк! <br />
          йдә әле, күнегүләрне эшләргә булыш миңа!
        </div>
        <div class="btn" role="button" tabindex="0" aria-label="start">
          АЛГА!
        </div>
      </div>
      <div class="start__select">
        <H1>Кем булып керу?</H1>
        <ul class="start__select-options">
          <li class="start__select-option active">Воспитатель</li>
          <li class="start__select-option">Родитель</li>
          <li class="start__select-option">Управление образования</li>
        </ul>
        <div class="btn" role="button" tabindex="0">АЛГА</div>
      </div>
    </div>
  </Fragment>
  <main>
    <!-- Intro -->
    <Section name="intro">
      <div class="breadcrumb">
        <ol class="breadcrumb-list">
          <li>
            <a href="#"><span>Баш</span></a>
          </li>
          <li class="active">
            <a href="#"><span>Күнегүләр</span></a>
          </li>
        </ol>
      </div>

      <div class="intro__content">
        <H2>Балалар бакчасы өчен укыту системасы</H2>
        <div class="intro__subtitle">баланың яшен сайлагыз:</div>
        <div class="intro__list">
          <a href="/exercises" class="intro__list-item item">
            <div class="item__title">5 - 6 яшь</div>
            <div class="item__content">
              <Image src="intro/3.png" />
              <span>Алга <br /> омтылу</span>
            </div>
          </a>
          <a href="/exercises" class="intro__list-item item">
            <div class="item__title">6 - 7 яшь</div>
            <div class="item__content">
              <Image src="intro/4.png" />
              <span>Тиздән <br /> мәктәпкә</span>
            </div>
          </a>
        </div>
      </div>
    </Section>
  </main>
</App>
