---
import App from "../App.astro";
import { Section, Image, Icon, H1, H2, H3, H4 } from "ui";
---

<App title="Главная" >
  <Fragment slot="header">
    <div class="start">
      <div class="start__text">
        <Image class="start__img" src="start.png" />
        <div class="start__box">
          Сәлам! Мин Батыр! <br />
          Бу балалар бакчасы өчен укыту системасы! <br />
          Белемнәрне бергәләп шатланып, уйнап алыйк! <br />
          йдә әле, күнегүләрне эшләргә булыш миңа!
        </div>
        <div class="btn" role="button" tabindex="0" aria-label="start">
          АЛГА!
        </div>
      </div>
      <div class="start__select">
        <H1>Кем булып керу?</H1>
        <ul class="start__select-options">
          <li class="start__select-option">Мәгариф идарәсе</li>
          <li class="start__select-option">Мөдир</li>
          <li class="start__select-option">Тәрбияче</li>
          <li class="start__select-option">Ата-ана</li>
        </ul>
      </div>
    </div>
  </Fragment>

  <main>
    <!-- Intro -->
    <Section name="intro">
      <div class="breadcrumb">
        <ol class="breadcrumb-list">
          <li class="first-page"><a href="#">''</a></li>
          <li class="active">
            <a href="/"><span>Баш</span></a>
          </li>
        </ol>
      </div>

      <div class="page">
        <div class="intro__img">
          <Image src="intro.png" />
        </div>
      </div>
    </Section>
  </main>
</App>
