body {
  background-image: url("../img/bg.png");
}

main {
  // padding-top: 205px;
  max-width: 100%;
  overflow: hidden;
}

.page {
  min-height: calc(100vh - 200px);
  background: #fff;
}

// @include show(".endoscopy");
