body {
  background-image: url("../img/bg.png");
}

main {
  max-width: 100%;
  overflow: hidden;
}

.start {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba($color: #000000, $alpha: 0.1);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  &__text {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .btn {
      position: absolute;
      padding: 15px 30px;
      color: #fff;
      font-size: 58px;
      font-weight: 700;
      background: var(--primary);
      border-radius: 15px;
      transform: translate(100px, 50px);

      &::before {
        content: "";
        position: absolute;
        bottom: -50px;
        right: 50px;
        width: 80px;
        height: 80px;
        background: url("../img/icons/hand.png") center/contain no-repeat;
        pointer-events: none;
      }
    }
  }

  &__img {
    width: 325px;
    transform: rotateY(180deg) translateY(80px);
  }

  &__box {
    padding: 20px;
    width: 665px;
    height: 220px;
    color: rgb(18, 163, 66);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    background-image: url('data:image/svg+xml,<svg width="173" height="56" viewBox="0 0 173 56" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.73679 0.5H168.321C169.18 0.5 170.003 0.841017 170.61 1.44803C171.217 2.05505 171.558 2.87834 171.558 3.73679V38.2158C171.558 39.0743 171.217 39.8976 170.61 40.5046C170.003 41.1116 169.18 41.4526 168.321 41.4526H40.2368C37.701 41.4526 35.2149 42.1551 33.0541 43.4821L15.3226 54.3711C14.8319 54.6724 14.2165 54.685 13.7139 54.4038C13.2113 54.1226 12.9 53.5917 12.9 53.0158V45.6894C12.9 44.5658 12.4536 43.4881 11.6591 42.6936C10.8645 41.899 9.78687 41.4526 8.66321 41.4526H3.73679C2.87834 41.4526 2.05505 41.1116 1.44803 40.5046C0.841018 39.8976 0.5 39.0743 0.5 38.2158V3.73679C0.5 2.87834 0.841018 2.05505 1.44803 1.44803C2.05505 0.841018 2.87834 0.5 3.73679 0.5Z" fill="white" stroke="%2358B770" stroke-width="0.5"/></svg>');
    background-position: top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    transform: translateY(-200px) translateX(-100px);
  }

  &__select {
    padding: 30px 40px;
    width: fit-content;
    background: #fff;
    border-radius: 40px;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    &-options {
      display: grid;
      grid-template-columns: repeat(3, 280px);
      gap: 20px;
    }

    &-option {
      padding: 20px;
      width: 100%;
      height: 100%;
      font-weight: 700;
      border: 2px solid var(--primary);
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: var(--transition-ease);
      cursor: pointer;

      &:hover,
      &.active {
        color: #fff;
        background: var(--primary);
      }
    }

    .btn {
      padding: 15px 80px;
      color: #fff;
      font-size: 20px;
      font-weight: 700;
      background: var(--primary);
      border-radius: 10px;
    }
  }
}

.intro {
  min-height: calc(100vh - 190px);
  background: url("../img/bg-2.png") bottom/cover no-repeat;
  background-size: 115% auto;
  background-position: 50% 105%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__content {
    padding: 30px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__subtitle {
    padding: 8px 15px;
    font-weight: 700;
    text-transform: uppercase;
    background: rgba(207, 207, 207, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 4px;
  }

  &__list {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 40px;

    .item {
      width: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      &:nth-child(1) {
        --primary: rgb(244, 122, 85);
        --primary-light: rgb(255, 223, 222);

        img {
          min-width: 200px;
        }
      }

      &:nth-child(2) {
        --primary: rgb(151, 121, 194);
        --primary-light: rgb(235, 228, 253);

        img {
          min-width: 100px;
          width: 100px;
        }
      }

      &__title {
        padding: 10px 20px;
        color: var(--primary);
        font-size: 28px;
        font-weight: 700;
        font-family: "Gagalin", sans-serif;
        background: var(--primary-light);
        border-radius: 9999px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__content {
        padding: 40px 20px 20px;
        width: 100%;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        background: var(--primary-light);
        border-radius: 20px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
      }
    }
  }
}

.page {
  flex-grow: 1;
  padding: 25px 40px 40px;
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .wrapper {
    flex-grow: 1;
    width: 100%;
    display: grid;
    grid-template-columns: 220px 1fr 220px;
    gap: 40px;
  }

  .aside {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    &__section {
      padding: 10px 20px;
      width: 100%;
      background: rgb(210, 237, 255);
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      &-title {
        color: rgb(81, 171, 228);
        font-size: 32px;
        font-family: "Gagalin", sans-serif;
        text-align: center;
      }

      img {
        width: 120px;
      }
    }

    &__accordions {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }
  }

  .content {
    background: #f5f5f5;
  }

  .result {
    width: 100%;
    height: 100%;
    background: lightblue;
  }
}

.page-1 {
  .sections {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;

    &__item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;

      &:nth-child(1) {
        --text-color: rgb(255, 87, 88);
      }

      &:nth-child(2) {
        --text-color: rgb(148, 136, 61);
      }

      &:nth-child(3) {
        --text-color: rgb(0, 74, 173);
      }

      &:nth-child(4) {
        --text-color: rgb(88, 47, 142);
      }

      &:nth-child(5) {
        --text-color: rgb(21, 93, 28);
      }

      &:nth-child(6) {
        --text-color: rgb(255, 145, 77);
      }

      &-title {
        padding: 20px;
        width: 100%;
        color: #fff;
        font-size: 28px;
        font-weight: 700;
        text-align: center;
        background: var(--primary);
        border-radius: 30px;
      }
    }
  }

  .list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    &-item {
      color: var(--text-color);
      font-size: 18px;
      font-weight: 700;
      line-height: 1.2;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
    }

    img {
      min-width: 130px;
      width: 130px;
      height: 130px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

.page-2 {
  .balance {
    &__header {
      width: 95%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
    }
    
    &__title {
      font-size: 38px;
      font-weight: 400;
      font-family: "Targo Regular";
      color: #ababab;
    }

    &__image {
      width: 140px;
    }

    &__layout {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
      gap: 50px;
    }

    &__sidebar {
      width: 250px;
      padding: 20px 10px;
      border-radius: 15px;
      border: 5px solid #f4f4f4;
      &-title {
        text-align: center;
        color: #ababab;
        margin-bottom: 20px;
      }
      &-item {
        a {
          display: block;
          padding: 6px 4px;
          border-radius: 10px;
          background-color: #f4f4f4;
          margin-bottom: 8px;
          &.active {
            background-color: #faf1bd !important;
          }
        }
      }
      &-content {
        padding-top: 20px;
        flex-grow: 1;
        border-top: 5px solid #f4f4f4;
      }
    }

    &__filters {
      margin-bottom: 20px;
      .time__filters {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 10px;
      }
      .range__filters {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 10px;
        margin-bottom: 10px;
        &-item {
          padding: 5px 20px;
          width: calc(100% / 4 - 10px);
          border-radius: 20px;
          border: 1px solid var(--primary);
          &.active {
            color: #fff;
            background-color: var(--primary);
          }
        }
      }
    }

    &__time {
      width: 200px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
      label,
      input,
      input::-webkit-calendar-picker-indicator {
        color: var(--primary);
      }
      input {
        width: 100%;
        padding: 3px 0;
        background-color: #f4f4f4;
        border-radius: 7px;
        border: 2px solid var(--primary);
        &::-webkit-calendar-picker-indicator {
          // visibility: hidden;
          opacity: 0;
          z-index: 2;
          width: 30px;
        }
      }
      .custom-date-icon {
        position: absolute;
        // display: none;
        padding: 3px 5px;
        width: 30px;
        height: 29.5px;
        bottom: 0px;
        right: 0px;
        // transform: translateY(-50%);
        pointer-events: none;
        font-size: 16px;
        border-radius: 7px;
        border: 2px solid var(--primary);
      }
    }

    &__charts {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 50px;
    }

    &__doughnut {
      width: 50% !important;
      height: 50% !important;
    }

    &__list {
      width: 50%;
      margin-top: 20px;
      ul {
        margin-top: 20px;
      }
    }

    &__item {
      display: flex;
      margin-bottom: 10px;
      &-color {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 10px;
      }
    }
  }
}

// @include show(".endoscopy");
