---
import { H2, Image, Icon } from "ui";

interface Props {
  template?: string;
}

const { template } = Astro.props;
---

<header class="header">
  <div class="container">
    <div class="header__content">
      <div class="header__content-left">
        <a href="/" class="header__logo">
          <Image src="logo.png" alt="logo" />
          <span> Саба муниципаль <br /> районы </span>
        </a>

        <div class="header__name">Саба 6нчы «Балачак» балалар бакчасы</div>
      </div>

      <div class="header__content-right">
        <ul class="header__menu">
          <li class="header__menu-item">
            <a href="/">Баш</a>
          </li>
          <li class="header__menu-item">
            <a href="/exercises">Күнегүләр</a>
          </li>
          <li class="header__menu-item">
            <a href="/achievements">Уңышлар</a>
          </li>
          <li class="header__menu-item">
            <a href="/stats">Хисаплар</a>
          </li>
        </ul>

        <div class="header__author">
          <div class="header__author-info">
            <span class="header__author-name">
              Шәмсетдинова <br /> Айгөл Таһир кызы
            </span>
            <span class="header__author-role">
              Балалар бакчасы тәрбиячесе
            </span>
          </div>
          <div class="header__author-avatar">
            <Image src="avatar.png" />
          </div>
        </div>

        {
          template && template == "2" && (
            <div class="header__idara">
              <div class="header__idara-text">
                Саба муниципаль районы башкарма <br /> комитетының м гариф идар
                се
              </div>
              <Image src="study.png" />
            </div>
          )
        }
      </div>
    </div>
  </div>
</header>
