---
import TheForm from "./TheForm.astro";
---

<div class="modal">
  <div class="modal__bg" data-modal="close"></div>

  <div class="container">
    <div class="modal__content" data-root="form">
      <div class="modal__close" data-modal="close">
        <svg
          width="35"
          height="35"
          viewBox="0 0 35 35"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M34.5 0.5L1 34" stroke="white"></path>
          <path d="M34.5 0.5L1 34" stroke="white"></path>
          <path d="M34.5 0.5L1 34" stroke="white"></path>
          <path d="M1 0.5L34.5 34" stroke="white"></path>
          <path d="M1 0.5L34.5 34" stroke="white"></path>
          <path d="M1 0.5L34.5 34" stroke="white"></path>
        </svg>
      </div>

      <TheForm id="modal-form" />
    </div>

    <div class="modal__content" data-root="success">
      <div class="modal__close" data-modal="close">
        <svg
          width="35"
          height="35"
          viewBox="0 0 35 35"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M34.5 0.5L1 34" stroke="white"></path>
          <path d="M34.5 0.5L1 34" stroke="white"></path>
          <path d="M34.5 0.5L1 34" stroke="white"></path>
          <path d="M1 0.5L34.5 34" stroke="white"></path>
          <path d="M1 0.5L34.5 34" stroke="white"></path>
          <path d="M1 0.5L34.5 34" stroke="white"></path>
        </svg>
      </div>

      <TheForm success />
    </div>
  </div>
</div>
