---
import Exercice from "../../../components/TheExercise.astro";
---

<Exercice
        page={2}
        title="Әдәпле сүзләр"
        subtitle="Уен «Әдәпле сүзләр»"
>
   <div style="color: darkorange" class="exercise_secondary_title">
        <b>Максат</b>: дуслашу, әдәпле булу.
   </div>
    <div style="color: blue" class="exercise_secondary_title">
        <b>Бирем</b>: Баладан нәрсә эшләргә кирәклеген сорагыз
    </div>
    <span class="regular-text">
    Әгәр ялгыш ялгыш төртеп җибәрсәң, ул чакта... <br/>
    Әгәр сиңа уенчык бүләк иткәннәр икән, димәк...<br/>
    Әгәр син кунакка килгән булсаң...<br/>
    Әгәр син дустының аягыңа бассаң…<br/>
    Әгәр сиңа рәхмәт әйтсәләр…<br/>
    Әгәр дә син дустыңнан китап сорарга телисең икән…<br/>
    Әгәр дә син дустыңнан уенчык сорарга телисең икән…<br/>
    Әгәр дә син әнидән чәй ясарга сорасаң…<br/>
    Дустың сиңа уенчык бирсә…<br/>
    Әгәр дус сиңа китап бирсә…
    </span>
</Exercice>
