---
import { Image, H4 } from "ui";
import Exercice from "../../../components/TheExercise.astro";
---

<Exercice
  page={2}
  title="Казан-Башкалам"
  subtitle="Рәсемнәргә кара. Казанда нинди биналар урнашкан?"
  nextUrl="/exercises/recognition/gerb-and-flag"
>
  <ul class="list">
    <li class="image_full"><Image src="kazan_1.jpg" /></li>
    <li class="image_full"><Image src="kazan_2.jpg" /></li>
    <li class="image_full"><Image src="kazan_3.jpg" /></li>
  </ul>
  <b class="gerb-flag-block"
    >Казан – республика башкаласы, бөтен дөнья татарлары башкаласы.</b
  >

  <b class="gerb-flag-block">Казан Кремле</b>
  <span class="gerb-flag-block-title"
    >Крепость урнашкан территория борынгы заманнардан ук төрле халыкларны үзенең
    урыны белән җәлеп иткән. Казан Кремле 1370 елда, моннан 650 ел элек төзелә
    башлаган. Бүген Казан – республика башкаласы, бөтен дөнья татарлары
    башкаласы.</span
  >

  <b class="gerb-flag-block">Сөембикә манарасы</b>
  <span class="gerb-flag-block-title"
    >Аны Сөембикә дип йөртәләр. Ул патшабикә иде. Яшәгән, сүндермәгән, хатын-кыз
    эшләре белән шөгыльләнгән, Казан ханлыгы белән параллель рәвештә идарә
    иткән, аның башына һөҗүм килеп җиткәнче. Шәһәрне яулап алган һәм гүзәл
    Сөембикәгә күз салган рус патшасы Иван IV килде. Сөембикә Иван Грозныйдан
    хезмәте турында сорый: Казан Кремленең йөрәгендә ул калган көннәрен тизләтә
    алган манара төзүне сорый. Иван Грозный аның өчен зур манара төзегән - 58
    метр биеклеккә. Бүген бу манараны Казан Кремле территориясендә күрергә була.</span
  >

  <b class="gerb-flag-block">Муса Җәлил һәйкәле</b>
  <span class="gerb-flag-block-title"
    >Кремль янында танылган татар шагыйре Муса Җәлилгә һәйкәл урнашкан.
    Һәйкәлнең биеклеге 8 метрга якын. Ул Советлар Союзы Герое, үлгәннән соң
    Ленин премиясе белән бүләкләнгән. Ул иреккә ашкынган чәнечкеле тимер чыбык
    юлларын өзүче бил тиңентен ачык итеп сурәтләнгән. Син Казанда кайчан да
    булса бу биналарны һәм һәйкәлләрне күргәнең бармы?</span
  >
</Exercice>
