---
import { Section, Accordion, Image, Icon, H1, H2, H3, H4 } from "ui";
import Exercice from "../../../components/TheExercise.astro";
---

<Exercice
  page={2}
  title="Татарстан символикасы"
  subtitle=""
  nextUrl="/exercises/awareness/metro"
>
  <b class="gerb-flag-block"> Татарстан Республикасы Дәүләт флагы </b>
  <div class="answers">
    <Image src="flag.jpg" />
  </div>
  <br />
  <span class="gerb-flag-block-title">
    Татарстан Республикасы Дәүләт флагы яшел, ак һәм кызыл төстәге горизонталь
    полосалы турыпочмаклы тукымадан гыйбарәт. Ак полоса тар һәм яшел һәм кызыл
    төстәге полосалар арасында урнашкан. Яшел полоса өстә.
  </span>
  <br />
  <b class="gerb-flag-block"> Татарстан Республикасы Дәүләт гербы </b>
  <div class="answers">
    <Image src="gerb.jpg" />
  </div>
  <br />
  <span class="gerb-flag-block-title">
    Татарстан Республикасы Дәүләт гербы түгәрәк калканлы канатлы барс сурәтеннән
    гыйбарәт. Кояшның алгы кырыенда уң аягын күтәргән, татар халык бизәге
    төшерелгән, аның нигезендә «Татарстан» дип язылган канат канатлары җиде
    каурыйдан тора, калкандагы розетка сигез таҗдан тора. Татарстан Республикасы
    Дәүләт гербының төсле сурәтендә кояш - барс, аның канатлары һәм калкандагы
    розеткасы - ак, яшел, калкан, орнамент - алтын төстәге.
  </span>
</Exercice>
