---
import { Image } from "ui";
import Exercice from "../../../components/TheExercise.astro";
---

<Exercice
        page={2}
        title="Туган җирем"
        subtitle="Рәсемдә нәрсә сурәтләнгән? Син бу бинаны беләсеңме? Синеңчә эчтә нәрсә белән шөгыльләнергә мөмкин? Әти белән әни белән бергә барырга телисеңме?"
>
    <ul class="list">
        <li class="image_full"><Image src="kazan_4.jpg"/></li>
        <li class="image_full"><Image src="kazan_5.jpg"/></li>
        <li class="image_full"><Image src="kazan_6.jpg"/></li>
    </ul>
</Exercice>
