---
import { Section, Accordion, Image, Icon, H1, H2, H3, H4 } from "ui";
import Exercice from "../../../components/TheExercise.astro";
---

<Exercice
  page={2}
  title="Кызыклы сыйфатлар"
  subtitle="Рәсемгә кара. Анда нәрсә сурәтләнгән? Бу уенчык турында сөйлә. Нинди ул?"
  nextUrl="/exercises/grammar/choose-a-letter"
>
  <div class="answers">
    <Image src="bear.jpg" class="bear-img" />

    <span>Хәерле, усал, матур, ягымлы, зур, йомшак, яхшы, коңгырт.</span>
  </div>
</Exercice>
